0x3c: sh1106-python: 1.12" mono OLED
0x3d: sh1106-python: 1.12" mono OLED
0x1d: lsm303d-python: lsm303d
0x1e: lsm303d-python: lsm303d
0x23: ltr559-python: ltr559
0x38: bh1745-python: bh1745
0x39: bh1745-python: bh1745
0x29: vl53l1x-python: vl53l1x time of flight
0x33: mlx90640-library: mlx90640 thermal camera
0x49: as7262-python: as7262 spectrometer
0x76: bme680: bme680 temperature, pressure, humidity and gas sensor
0x77: bme680: bme680 temperature, pressure, humidity and gas sensor
