0x0a: trackball-python: trackball: rgb illuminated mini trackball
0x0b: trackball-python: trackball: rgb illuminated mini trackball
0x3c: sh1106-python: luma.oled: 1.12" mono OLED
0x3d: sh1106-python: luma.oled: 1.12" mono OLED
0x1d: lsm303d-python: lsm303d: lsm303d 6dof motion sensor
0x1e: lsm303d-python: lsm303d: lsm303d 6dof motion sensor
0x23: ltr559-python: ltr559: ltr559 proximity sensor
0x38: bh1745-python: bh1745: bh1745 colour sensor
0x39: bh1745-python: bh1745: bh1745 colour sensor
0x29: vl53l1x-python: VL53L1X: vl53l1x time of flight
0x33: mlx90640-library: mlx90460: mlx90640 thermal camera
0x48: ads1015-python: ads1015: ads1015 ADC
0x49: as7262-python: as7262: as7262 spectrometer
0x57: max30105-python: max30105: max30105 heart rate, oximeter, smoke sensor
0x66: mcp9600-python: mcp9600: mcp9600 thermocouple temperature sensor
0x67: mcp9600-python: mcp9600: mcp9600 thermocouple temperature sensor
0x68: icm20948-python: icm20948: icm20948 9dof motion sensor
0x69: icm20948-python: icm20948: icm20948 9dof motion sensor
0x74: rgbmatrix5x5-python: rgbmatrix5x5: rgb 5x5 led matrix
0x75: matrix11x7-python: matrix11x7: white 11x7 led matrix
0x76[0xd0=0x61]: bme680-python: bme680: bme680 weather sensor
0x76[0xd0=0x58]: bmp280-python: bmp280: bmp280 temperature and pressure sensor
0x77[0xd0=0x61]: bme680-python: bme680: bme680 weather sensor
0x77[0xd0=0x59]: bmp280-python: bmp280: bmp280 temperature and pressure sensor
0x5a: drv2605-python: drv2605: drv2605 haptic driver
0x26: msa301-python: msa301: msa3013-axis accelerometer
0x10: veml6075-python: veml6075: veml6075 uva and uvb sensor
0x52: rv3028-python: rv3028: rv3028 real-time-clock breakout
